@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto&family=Signika:wght@300..700&display=swap');

*{
    font-family: "Signika", sans-serif;
    box-sizing: border-box; 
    margin: 0px;
    padding: 0px ;
}

#logo_header{
    width: 230px;
    height: 110px;
    padding-top: 30px;
    cursor: pointer;
}

#icone_lupa{
    width: 30px;
    height: 30px;
    display: flex;
    position: relative;
    margin-top: 55px;  
    margin-right: 40px;
}

#menu_header{
    width: 30px;
    height: 30px;
    display: flex;
    position: relative;
    margin-top: 60px;  
    margin-left: 60px;
}

nav{
    width: 100%; 
    display: flex; 
}

nav ul {
    display: flex;
    position: relative;
    padding: 60px;
    padding-top: 0px;
    text-align: right;
}

nav ul li{
    display: flex;
    position: relative;
    padding: 60px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: 25px;
}


nav ul li a{
    text-decoration: none;
    color: rgb(19, 19, 19);
    font-weight: lighter;
}

nav ul li a:after{
    display: block;
    content: '';
    text-decoration: none;
    color: rgb(28, 79, 156);
    font-weight: lighter;
    border-bottom: 3px solid rgb(28, 79, 156);
    transform: scaleX(0); 
    transition: transform 150ms ease-in-out; 
}
nav ul li a:hover:after { transform: scaleX(1); }
nav ul li a:after{  transform-origin:  0% 50%; }



nav ul li a:active{
    text-decoration: none;
    color: rgb(28, 79, 156);
    font-weight: lighter;
}


#loginBtn{
    margin: 50px;
    border: none; 
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #002B6D;
    color: white;
}
#loginBtn:hover{
    margin: 49px;
    border: none; 
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #002B6D;
    color: white;
    cursor: pointer;
    box-shadow:#d6d6d6 10px 10px 10px 0px ;
}
#loginBtn:active{
    margin: 50px;
    border: none; 
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #002B6D;
    color: white;
    box-shadow:#d5e6ff 10px 5px 10px 0px;
}

#criar-contaBtn{
    margin-top: 50px; 
    padding-left: 5px;
    border: none; 
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #3535ED;
    color: white;
}

#criar-contaBtn:hover{
    margin-top: 49px;
    margin-left: 1px; 
    padding-left: 5px;
    border: none; 
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #3535ED;
    color: white;
    box-shadow:#d6d6d6 10px 10px 10px 0px;
    cursor: pointer;
}
#criar-contaBtn:active{
    margin-top: 50px; 
    padding-left: 5px;
    margin-left: -1px; 
    border: none; 
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #3535ED;
    color: white;
    box-shadow:#d6d6d6 10px 10px 10px 0px;
}

#explicando img{
    margin-top: -40px;
}

#nexTag {
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 50px;
    width: 150px;
    height: 50px;
    justify-content: center;
    padding-top: 15px;
    padding-left: 30px;
    border-radius: 10px;
    border:none; 
    background-color: #2E8EFE;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;

}

.location, #location{
    display: inline-flex;
    position: relative;
    padding-left: 3px;
    margin-left: 50px;
    margin-top: 5px;
    font-size: 22px;
    justify-content: space-between;
    
}

#titulo-descricao{
    display: flex;
    position: relative;
    margin-top: 30px;
    width: 800px;
    height: 150px;
    font-size: 42px;
    margin-left: 50px;
}

#data-descricao{
    display: flex;
    position: relative;
    font-size: 20px;
    margin-top: -18px;
    margin-left: 50px;
}

#aposTag{
    border: none;
    border-radius: 7px;
    width: 200px;
    height: 50px;
    color: white;
    background-color:#002B6D;
    margin-top: 18px;
    margin-left: 50px;

}

#upcoming{
    margin-top: 58px;
    margin-left: 40px;
}

#img-circuito{
    display: flexbox;
    position: relative;
    justify-content: end;
    margin-left: 850px;
    margin-top: -300px;
}
